{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>ReNUSearch</title>
  <!-- Bootstrap core CSS-->
  <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="{% static "vendor/datatables/dataTables.bootstrap4.css" %}" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="{% static "css/sb-admin.css" %}" rel="stylesheet">
  <link href="{% static "css/number.css" %}" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="researcher">Re<span class="nus">NUS</span>earch</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="researcher.html">
            <button type="button" class="btn btn-secondary btn-block">
              <i class="fa fa-user"></i>
              <span class="nav-link-text">My Profile</span>
            </button>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="mailto:admin@renusearch.com?Subject=ReNUSearch:%20Report%20profile%20error" target="_top">
            <div style="text-align:center">
            <!--<button type="button" class="btn btn-secondary btn-block">-->
              <i class="fa fa-exclamation-triangle"></i>
              <span class="nav-link-text">Report Error</span>
            <!--</button>-->
           </div>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" data-toggle="modal" data-target="#verifyModal">
            <div style="text-align:center">
              <i class="fa fa-check"></i>
              <span class="nav-link-text">Verify Profile</span>
            </div>
          </a>
        </li>
      </ul>

      <!-- Top right of dashboard -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-lg-2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-circle-o"></i>
            <span class="name">Zhang Lei
            </span>
          </a>
          <div class="dropdown-menu">
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Change Password</a>
            <a class="dropdown-item" href="#">Help Center</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <button type="button" class="btn btn-danger btn-sm">
            <i class="fa fa-fw fa-sign-out"></i>Logout</button>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- START OF DASHBOARD -->
  <div class="content-wrapper"> <!-- Found in sb-admin.css -->
    <div class="container-fluid">

      <!-- Header of researcher profile -->
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <h1>Zhang Lei</h1>
          <p>Assistant Professor<br>
            Department of Mathematics</p>
        </li>
      </ol>

      <!-- Research Metrics -->
      <div class="row">

        <!-- H-index -->
        <div class="col-sm-4 mb-3">
          <div class="card text-black bg-light o-hidden h-100">
        <!--<div class="card text-white bg-dark o-hidden h-100">-->
            <!--<div class = "card-header">H-Index</div>-->
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-bar-chart"></i>
              </div>
              <div class="mr-5">
                <span class="word">H-Index: </span><span class="number">3</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Pubs -->
        <div class="col-sm-4 mb-3">
          <div class="card text-black bg-light o-hidden h-100">
          <!--<div class="card text-white bg-dark o-hidden h-100">-->
            <!--<div class = "card-header">Publications</div>-->
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-book"></i>
              </div>
              <div class="mr-5">
                <span class="word">Publications: <span><span class="number">10</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Citations -->
        <div class="col-sm-4 mb-3">
          <div class="card text-black bg-light o-hidden h-100">
          <!--<div class="card text-white bg-dark o-hidden h-100">-->
            <!--<div class = "card-header">Citations</div>-->
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-commenting"></i>
              </div>
              <div class="mr-5">
                <span class="word">Citations: </span><span class="number">16</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> List of Publications</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Publication Title</th>
                  <th>Year Published</th>
                  <th>Number of Citations</th>
                  <th>Remove</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Whittaker-Shintani functions for general linear groups over p-adic fields</td>
                  <td>2017</td>
                  <td>5</td>
                  <td><input type="checkbox"/>&nbsp;</td>
                </tr>
                <tr>
                  <!-- wrong pub -->
                  <td>Document Solving generalized open constraint optimization problem using two-level multi-agent framework</td>
                  <td>2005</td>
                  <td>4</td>
                  <td><input type="checkbox"/>&nbsp;</td>
                </tr>
                <tr>
                  <td>Tokuyama-type formulas for characters of type B</td>
                  <td>2016</td>
                  <td>3</td>
                  <td><input type="checkbox"/>&nbsp;</td>
                </tr>
                <tr>
                  <td>The Jacquet-Langlands Correspondence via Twisted Descent</td>
                  <td>2016</td>
                  <td>3</td>
                  <td><input type="checkbox"/>&nbsp;</td>
                </tr>
                <tr>
                  <td>Distinguished Tame Supercuspidal Representations of Symmetric Pairs (Sp4n(F); 2n(E))</td>
                  <td>2015</td>
                  <td>1</td>
                  <td><input type="checkbox"/>&nbsp;</td>
                </tr>
                <tr>
                  <td>Eisenstein series on covers of odd orthogonal groups</td>
                  <td>2015</td>
                  <td>0</td>
                  <td><input type="checkbox"/>&nbsp;</td>
                </tr>
                <tr>
                  <td>A Product of Tensor Product L-functions of Quasi-split Classical Groups of Hermitian Type</td>
                  <td>2014</td>
                  <td>0</td>
                  <td><input type="checkbox"/>&nbsp;</td>
                </tr>
                <!-- wrong pub -->
                <tr>
                  <td>Document Iterative adjoint technique for sensitivity analysis</td>
                  <td>2005</td>
                  <td>0</td>
                  <td><input type="checkbox"/>&nbsp;</td>
                </tr>
                <tr>
                  <td>Sp2n(Fq2)-Invariants In Irreducible Unipotent Representations</td>
                  <td>2013</td>
                  <td>0</td>
                  <td><input type="checkbox"/>&nbsp;</td>
                </tr>
                <tr>
                  <td>Poles of certain residual eisenstein series of classical groups</td>
                  <td>2013</td>
                  <td>0</td>
                  <td><input type="checkbox"/>&nbsp;</td>
                </tr>
              </tbody>
            </table>
            <a class="nav-link" data-toggle="modal" data-target="#removeModal">
              <button type="button" class="btn btn-primary mt-1" style="float: right;">Remove</button>
            </a>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © NUS School of Computing 2017</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Remove Modal-->
    <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirm changes?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Confirm" below if you want to remove the selected publications.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="changes">Confirm</a> <!-- call researcherChanges in views.py -->
          </div>
        </div>
      </div>
    </div>
    <!-- Verify Modal-->
    <div class="modal fade" id="verifyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Verify Profile?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Confirm" below if the details in your profile are correct.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="verified">Confirm</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/popper/popper.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="static/vendor/chart.js/Chart.min.js"></script>
    <script src="static/vendor/datatables/jquery.dataTables.js"></script>
    <script src="static/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="static/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="static/js/sb-admin-datatables.min.js"></script>
    <script src="static/js/sb-admin-charts.min.js"></script>
  </div>
</body>

</html>
