<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>ReNUSearch</title>
  <!-- Bootstrap core CSS-->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
  <link href="css/number.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href=#>Re<span class="nus">NUS</span>earch</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="userMain.html">
            <button type="button" class="btn btn-secondary btn-block">
              <i class="fa fa-graduation-cap"></i>
              <span class="nav-link-text">LIU JIE</span>
            </button>
          </a>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" href="addresearcherzl.html">
            <div style="text-align:center">
              <i class="fa fa-plus"></i>
              <span class="nav-link-text">Add Researcher</span>
            </div>
          </a>
        </li>
      </ul>

      <!-- Top right of dashboard -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-lg-2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-circle-o"></i>
            <span class="name">Cindy Tay
            </span>
          </a>
          <div class="dropdown-menu">
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Change Password</a>
            <a class="dropdown-item" href="#">Report Issues</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <button type="button" class="btn btn-danger btn-sm">
            <i class="fa fa-fw fa-sign-out"></i>Logout</button>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- START OF DASHBOARD -->
  <div class="content-wrapper"> <!-- Found in sb-admin.css -->
    <div class="container-fluid">

      <!-- Header of researcher profile -->
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <h1>LIU JIE</h1>
          <p>Assistant Professor<br>
            Department of Mathematics</p>
        </li>
      </ol>

      <!-- Research Metrics -->
      <div class="row">

        <!-- H-index -->
        <div class="col-sm-4 mb-3">
          <div class="card text-black bg-light o-hidden h-100">
        <!--<div class="card text-white bg-dark o-hidden h-100">-->
            <!--<div class = "card-header">H-Index</div>-->
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-bar-chart"></i>
              </div>
              <div class="mr-5">
                <span class="word">H-Index: </span><span class="number">7</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Pubs -->
        <div class="col-sm-4 mb-3">
          <div class="card text-black bg-light o-hidden h-100">
          <!--<div class="card text-white bg-dark o-hidden h-100">-->
            <!--<div class = "card-header">Publications</div>-->
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-book"></i>
              </div>
              <div class="mr-5">
                <span class="word">Publications: <span><span class="number">17</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Citations -->
        <div class="col-sm-4 mb-3">
          <div class="card text-black bg-light o-hidden h-100">
          <!--<div class="card text-white bg-dark o-hidden h-100">-->
            <!--<div class = "card-header">Citations</div>-->
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-commenting"></i>
              </div>
              <div class="mr-5">
                <span class="word">Citations: </span><span class="number">186</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> List of Publications</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Publication Title</th>
                  <th>Year Published</th>
                  <th>Number of Citations</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>A second-order changing-connectivity ALE scheme and its application to FSI with large convection of fluids and near contact of structures</td>
                  <td>2016</td>
                  <td>37</td>
                </tr>
                <tr>
                  <td>A second-order stable explicit interface advancing scheme for FSI with both rigid and elastic structures and its application to fish swimming simulations</td>
                  <td>2015</td>
                  <td>29</td>
                </tr>
                <tr>
                  <td>A stable second-order scheme for fluid-structure interaction with strong added-mass effects</td>
                  <td>2014</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>Order of convergence of splitting schemes for both deterministic and stochastic nonlinear Schrödinger equations</td>
                  <td>2013</td>
                  <td>19</td>
                </tr>
                <tr>
                  <td>A mass-preserving splitting scheme for the stochastic Schrödinger equation with multiplicative noise</td>
                  <td>2013</td>
                  <td>17</td>
                </tr>
                <tr>
                  <td>Simple and efficient ALE methods with provable temporal accuracy up to fifth order for the stokes equations on time varying domains</td>
                  <td>2013</td>
                  <td>17</td>
                </tr>
                <tr>
                  <td>Stable and spectrally accurate schemes for the navier-stokes equations</td>
                  <td>2011</td>
                  <td>11</td>
                </tr>
                <tr>
                  <td>Stable and accurate pressure approximation for unsteady incompressible viscous flow</td>
                  <td>2010</td>
                  <td>6</td>
                </tr>
                <tr>
                  <td>A time domain blind decorrelation method of convolutive mixtures based on an IIR model</td>
                  <td>2010</td>
                  <td>6</td>
                </tr>
                <tr>
                  <td>A soft-constrained dynamic iterative method of blind source separation</td>
                  <td>2009</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>Error estimates for finite-element Navier-Stokes solvers without standard Inf-Sup conditions</td>
                  <td>2009</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>Open and traction boundary conditions for the incompressible Navier-Stokes equations</td>
                  <td>2009</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>A time domain algorithm for blind separation of convolutive sound mixtures and L1 constrained minimization of cross correlations</td>
                  <td>2009</td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>A dynamic algorithm for blind separation of convolutive sound mixtures</td>
                  <td>2008</td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>Stability and convergence of efficient Navier-Stokes solvers via a commutator estimate</td>
                  <td>2007</td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>Combined field formulation and a simple stable explicit interface advancing scheme for fluid structure interaction</td>
                  <td>2013</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Estimates on the Stokes Pressure by Partitioning the Energy of Harmonic Functions (Kyoto Conference on the Navier-Stokes Equations and their Applications)</td>
                  <td>2007</td>
                  <td>0</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © NUS School of Computing 2017</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="js/sb-admin-datatables.min.js"></script>
    <script src="js/sb-admin-charts.min.js"></script>
  </div>
</body>

</html>
