@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.number {
  font-size: 1.8em !important;
  color: #ff9D26 !important;
}

.word {
  font-size: 1em;
  weight: bold;
  /*color: #D6EFEA !important;*/
  color: black;
}

.nus {
  font-size: 1.2em;
  weight: bold !important;
  color: #ff9D26 !important;
}

.name {
  font-size: 1.0em !important;
  color: white !important;
}

.sidebar {
  width: 100% !important;
  display: inline-block !important;
  text-align: center !important;
}

input[type=checkbox] {
    margin: 0 auto;
    display: block;
}

.verified {
  /*color: #EC96A4 !important;*/
  font-size: 2em !important;
  weight: bold !important;
}
